.logo-img{
  height:28px !important;
  width:auto !important;
  max-width:170px !important;
  object-fit:contain;
  display:block;
}

.logo{
  display:flex;
  align-items:center;
  height:54px;
  padding-top:2px;
}
